doctype html
- var name = `${name}`
- var lastname = `${lastname}`
- var role = `${role}`

html(lang='en')
  include includes/head.pug

  body
    div(class='grid-container')
      div(class='header' id='responsivenav')
        include includes/nav.pug

      div(class='main')
        h1 Welcome to your Dashboard (Pug Version 1.0)
        p(class='maintext') Your Name is #{name} #{lastname}
        p(class='maintext') Your role is #{role}

      div(class='footer')
        include includes/foot.pug

    script
      include includes/script.js
